* {
    box-sizing: border-box;
    margin: 0;
    font-family: lato;
    scroll-behavior: smooth;
}



.top {
    width: 50px;

    position: fixed;
    bottom: 20px;
    right: 20px;
}





/* buttons */
.button-inactive {
    width: 200px;
    min-height: 70px;

    margin-right:10px;

    font-size: 30px;
    font-weight: 500;
    color: rgb(173, 173, 173);

    border: none;
    border-radius: 50px;
    background: rgb(207, 207, 207);

    transition: 0.2s ease;
}

.button-filled {
    width: 200px;
    min-height: 70px;

    margin-right:10px;

    font-size: 30px;
    font-weight: 500;
    color: white;

    border: none;
    border-radius: 50px;
    background: #4D5BDB;

    transition: 0.2s ease;
}
.button-filled:hover {
    cursor: pointer;
    background: rgb(60, 73, 184);
}


.button-hollow {
    min-width: 200px;
    min-height: 70px;

    margin-right:10px;

    font-size: 30px;
    font-weight: 500;
    color: #4D5BDB;

    border: 2px solid #4D5BDB;
    border-radius: 50px;
    background: white;

    transition: 0.2s ease;
}
.button-hollow:hover {
    cursor: pointer;
    color: white;
    background: #4D5BDB;
}

.button-container {
    padding: 10px 0;
}










/* TEXT */
.title-text {
    font-size: 64px;
    font-weight: 900;
    padding-bottom: 10px;
}
.work-title {
    font-size: 42px;
    font-weight: 900;
    padding-bottom: 10px;
}
.small-text {
    font-size: 24px;
    padding: 10px 0 20px 0;
}









.box {
    /* border: 1px solid black; */
    width: 600px;
    min-height: 600px;
    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.picture-box {
    /* border: 1px dashed green; */
    width: 600px;
    min-height: 600px;
    margin: 20px;
}

.box-card {
    /* border: 1px solid black; */
    width: 500px;
    min-height: 500px;
    margin: 20px 20px 60px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.picture-box-card {
    /* border: 1px dashed green; */
    width: 500px;
    min-height: 500px;
    margin: 20px;
}

.picture-box-card img {
    width: 100%;
}










.section1 {
    min-height: 15vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
header {
    /* border: 1px solid red; */
    width: 90vw;
    max-width: 100%;
    min-height: 15vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 300px;
}

.section1 p {
    font-size: 1.2em;
    font-weight: 900;
    color: rgb(124, 136, 241);
}
.section1 p:hover {
    cursor: pointer;
    color: #4D5BDB;
}

.menu {
    display: flex;
    width: 30vw;
    justify-content: flex-end;
    align-items: center;
}
.menu a {
    text-decoration: none;
    margin-right: 100px;
}

.section2 {
    min-height: 85vh;
}
.landing-container {
    /* border: 1px solid green; */
    width: 100vw;
    max-width: 100%;
    min-height: 85vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}











.section3 {
    min-height: 100vh;
    width: 100vw;
    width: 100%;
    margin-top: 100px;

    background: #F4F4F4;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 90%;
    min-height: 600px;

    margin-bottom: 50px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.05);

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}











.section4 {
    background-image: url(./img/contact_bg_vector.svg);
    background-repeat: no-repeat;
    background-position: right top;

    min-height: 100vh;
    width: 100vw;
    max-width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.section4 form {
    
    width: 100%;
    height: 550px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section4 form .ph {
    font-size: 24px;
    color: rgb(117, 117, 117);
    padding-left: 30px;
}



.inputs-text {
    width: 90%;
    height: 70px;

    background: #F3F3F3;
    border: none;
    border-radius: 10px;
}
.inputs-message {
    width: 90%;
    height: 200px;

    padding: 10px;

    background: #F3F3F3;
    border: none;
    border-radius: 10px;
}









@media screen and (max-width: 1242px) {
    .button-inactive{
        width: 100%;
        margin-right: 0;
    }
    .button-filled {
        width: 100%;

        margin-right: 0;
    }
    .button-hollow {
        width: 100%;

        margin-right: 0;
    }

    .button-container {
        width: 100%;
        min-height: 200px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .button-container a {
        width: 100%;
    }

    .box {
        min-height: auto;
    }
    .picture-box {
        min-height: auto;
    }
    .box-card {
        min-height: auto;
    }
    .picture-box-card {
        min-height: auto;
    }


    .section4 form {
        align-items: center;
    }
}

@media screen and (max-width: 1000px) {
    .section4 {
        background: none;
    }
    /* if section4 background is visible, contact-text will need to be white */
    .contact-text {
        /* color: white; */ 
    }
}

@media screen and (max-width: 500px) {
    header img {
        width: 200px;
    }
    
}